{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<main class="main">
    <form class="main_form" id="main_form">

        <!-- element 1 -->
        <div class="input_box main_child" id="element1_input_div">
            <input type="text" class="main_input" id="element1">
            <input type="number" class="input_charge" id="charge1">
            <input type="number" class="amount" id="amount1">
        
        
            <h1 id="plus" class="main_child">+</h1>
        

            <input type="text" class="main_input" id="element2">
            <input type="number" class="input_charge" id="charge2">

            <input type="number" class="amount" id="amount2" >

        
            <h1 id="Arrow" class="main_child">-></h1>
        </div>
        <h3 id="ans" class="main_child"></h3> 
        <!-- <input type="text" class="main_child main_input" disabled id="ans"> -->
    </form>
    </main>
    <script>
        let element1 = document.querySelector("#element1");
        let charge1 = document.querySelector("#charge1");
        let element2 = document.querySelector("#element2");
        let charge2 = document.querySelector("#charge2");
        let amount1 = document.querySelector("#amount1");
        let amount2 = document.getElementById("amount2");
        let form = document.querySelector("#main_form");

    amount2.addEventListener("change", async function(){
        let response = await fetch("/fetch?q=" + element1.value + "&w=" + charge1.value + "&e=" + element2.value + "&r=" + charge2.value + "&t=" + amount1.value + "&y=" + amount2.value);
        let answer = await response.text();
        document.getElementById("ans").innerHTML = answer;
})
    </script>
{% endblock %}